// CONSTANTS
$complement: 15%;

// COLORS
$spacex-charcoal: #181c1f;

$spacex-slate: #21272b;
    $spacex-slate--light: lighten($spacex-slate, $complement);

$slate:#29353e;
    $slate--light: lighten($slate, $complement);

$spacex-grey: #849199;
    $spacex-grey--transparent: rgba($spacex-grey, 0.5);

$blue: #2a6ebd;
    $blue--dark:darken($blue, $complement);
    $blue--transparent:rgba($blue, 0.5);

$webcastblue: #2276AB;
    $webcastblue--light:lighten($webcastblue, $complement);
    $webcastblue--dark:darken($webcastblue, $complement);

$azure: #008BE3;
    $azure--light:lighten($azure, $complement);
    $azure--dark:darken($azure, $complement);

$gold: #CCAC55;
    $gold--dark: darken($gold, $complement);

$red: #C3427D;
    $red--dark: darken($red, $complement);

$green: #00A651;
    $green--dark: darken($green, $complement);
    $green--transparent: rgba($green, 0.1);

$white: #fcfcfc;

// FONTS
$generic: Verdana,Geneva,sans-serif;
$brandongrotesque: "Brandon Grotesque",Avenir,"Gill Sans","Trebuchet MS",sans-serif;
$lucidagrande: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,"Trebuchet MS",sans-serif;

// TRANSITIONS
$fast: 0.2s;

// BREAKPOINTS
$break-small: 1366px;
$break-large: 1920px;

// PAGE MARGIN
$margin: 30px;

// HEADER
$subreddit-navigator-height: 30px;
$banner-height: 170px;
$header-height: $subreddit-navigator-height + $banner-height;

// BUTTONS
%button {
    background:$webcastblue !important;
    border-radius:2px;
    border:none !important;
    border-bottom:2px solid $webcastblue--dark !important;
    transition:background ease $fast;
    color:$white !important;
    position:relative;

    &:hover {
        background:$webcastblue--light !important;
    }

    &:active {
        top:1px;
        border-bottom:1px solid $webcastblue !important;
    }
}

.thing.spam {
    background:transparent;
}