.reddit-infobar {
    top:10px;
    margin:0 10px 20px 10px;

    &.archived-infobar {
        border-color: $spacex-grey;
        background-color:transparent;

        &:before {
            background-color: $spacex-grey;
        }
    }
}

// Gold info
.gold-accent {
    background-color:rgba($gold,0.2) !important;
    border:1px solid $gold;
    border-radius:0;
    color:$white;
}

// Viewing single comments
.infobar {
    background-color:rgba($gold,0.2) !important;
    border:1px solid $gold;
    padding:10px;
    margin:10px;
}