$notification-height: 50px;
$notification-width-small: 300px;
$notification-width-small--break-small: 180px;
.side .md {
    h1 {
        position: absolute;
        box-sizing: border-box;
        overflow: hidden;
        font-family: $lucidagrande;
        margin: 0;
    }
    // SpaceX Disclaimer
    h1:nth-of-type(1) {
        top: -30px;
        left: 0px;
        right: 0px;
        line-height: 30px;
        text-align: center;
        font-size: 10px;
        font-weight: normal;
        opacity: 0.6;
        a {
            font-weight: bold;
            color: $blue !important;
        }
    }
    h1:nth-of-type(2),
    h1:nth-of-type(3),
    h1:nth-of-type(4),
    h1:nth-of-type(5) {
        background-color: $slate--light;
        height: $notification-height;
    }
    // SpaceX(Lounge) Link
    h1:nth-of-type(2) {
        top: 0;
        left: 0;
        height: $notification-height;
        width: $notification-width-small;
        border-right: 1px dashed $spacex-grey;
        line-height: $notification-height;
        text-align: center;
        font-weight: 100;
        font-size: 16px;
        font-family: $brandongrotesque;
        // Small screens
        @media screen and (max-width: $break-small) {
            font-size: 0;
            width: $notification-width-small--break-small;
            a {
                font-size: 20px !important;
                padding: 0;
            }
        }
        a {
            color: white !important;
            font-size: 24px;
            padding: 0 5px;
        }
    }
    // Latest notification message
    h1:nth-of-type(3) {
        top: 0px;
        left: $notification-width-small;
        right: ($sidebarPadding * 2) + $sidebarWidth;
        text-align: left;
        font-size: 13px;
        padding: 5px 10px !important;
        // Small screens
        @media screen and (max-width: $break-small) {
            font-size: 12px;
            padding: 3px 10px !important;
            left: $notification-width-small--break-small;
        }
        // Links
        a {
            color: $webcastblue !important;
            transition: color ease $fast;
            text-decoration: none;
            &:hover {
                color: $gold;
            }
        }
    }
    // Rules, Wiki, FAQ
    h1:nth-of-type(4) {
        top: $notification-height;
        left: 0;
        height: $notification-height;
        width: $notification-width-small;
        text-align: left;
        font-size: 0;
        font-weight: lighter;
        border-right: 1px dashed rgba($white, 0.5);
        // Small screens
        @media screen and (max-width: $break-small) {
            width: $notification-width-small--break-small;
        }
        a {
            padding: 0 10px;
            display: inline-block;
            font-size: 16px;
            text-align: center;
            color: $white !important;
            line-height: 50px;
            width: 33%;
            box-sizing: border-box;
            font-family: $brandongrotesque;
            float: left;
            text-decoration: none;
            // Small screens
            @media screen and (max-width: $break-small) {
                padding: 0;
                font-size: 14px;
            }
            &:hover {
                color: $gold !important;
            }
        }
    }
    // Curated Links of importance
    h1:nth-of-type(5) {
        position: absolute;
        top: $notification-height;
        left: $notification-width-small;
        right: ($sidebarPadding * 2) + $sidebarWidth;
        height: $notification-height;
        font-size: 0;
        display: flex;
        // Small screens
        @media screen and (max-width: $break-small) {
            left: $notification-width-small--break-small;
        }
        a {
            box-sizing: border-box;
            height: 50px;
            font-size: 13px;
            flex-grow: 1;
            width: 25%;
            padding: 3px 20px 0 50px;
            line-height: 1.2;
            color: $white;
            font-weight: normal;
            float: left;
            position: relative;
            text-decoration: none;
            // Small screens
            @media screen and (max-width: $break-small) {
                padding: 2px 4px 0 4px;
                &:before {
                    display: none !important;
                }
            }
            // Small screens
            @media screen and (min-width: $break-large) {
                font-size: 14px;
                padding: 5px 0 0 50px;
            }
            &:hover {
                color: $gold !important;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 50px;
                height: 50px;
                background-size: 200px 50px;
                background-image: url('notificationsprites.png');
                transform: scale(0.8);
                overflow: hidden;
                top: 0;
                left: 0;
            }
            &[title="Campaign"]:before {
                background-position: -50px 0;
            }
            &[title="Questions & News"]:before {
                background-position: -150px 0;
            }
            &[title="Launch"]:before {
                background-position: -100px 0;
            }
            &[title="Media"]:before {
                background-position: 0 0;
            }
        }
    }
}