$sidebarWidth: 320px;
$sidebarPadding: 10px;
$sidebarHeadingHeight: 40px;

.side {
    width:$sidebarWidth;
    margin:0;
    color:$white;
}

.side, body.res-nightmode .side {
    background-color: $slate--light;
    background-repeat: no-repeat;
    font-family:$lucidagrande;

    .md {
        color:$white;

        h4 {
            margin-top:0;
            margin-bottom:0;
        }
    }
}

// Information about each post
div.linkinfo {
    background-color:transparent;
    border:none;
    border-bottom:1px dashed $spacex-grey;
    padding-bottom:10px;
    margin-bottom:0px;
    position:relative;
    border-radius:0px;

    .date, .score, .totalvotes, .shortlink {
        text-align:center;
        color: $spacex-grey;
    }

    .totalvotes {
        display:block;
    }

    time, .score {
        color:$white;
    }

    input#shortlink-text {
        background-color:transparent !important;
        color: $spacex-grey;
        border:2px solid $spacex-charcoal !important;
        transition:border $fast ease 0s;

        &::selection {
            background:$white;
        }

        &:focus {
            border:2px solid $gold !important;
        }
    }
}

body.res-nightmode div.linkinfo {
    background-color:transparent !important;
}

div.side .spacer {
    margin:0 !important;
    padding:0 !important;

    .sidebox.submit-link {
        margin:5px 0;
    }

    .sidebox.submit-text, .sidebox.create, .account-activity-box {
        display:none;
    }

    .sidecontentbox:not(.collapsible) > * { display: none; }
    .sidecontentbox:not(.collapsible) .helplink, .sidecontentbox:not(.collapsible) .helplink ~ * {
        display: block;
    }
}

// Post button and Falcon graphic
.morelink, body.res-nightmode .morelink {
    position: relative;
    border:none;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    height: 40px;
    text-align:center;
    letter-spacing:0;
    background: url('falcon.png') !important;
    background-position:0 7px !important;
    background-size:320px 27px !important;
    background-repeat: no-repeat !important;

    a {
        display:inline;
        position:relative;
        padding:5px 10px;
        font-size:14px;
        font-family:$lucidagrande;
        @extend %button;
        background-color:rgba($webcastblue,0.75) !important;

        &:hover {
            background-color:$webcastblue--light !important;
        }
    }

    .nub {
        display:none;
    }
}

div.sidebox.submit {
    background-color: transparent !important;
    border:none !important;

    // Styles for disabled submissions during launches
    &.disabled .morelink {
        background-image: none !important;
        background-color: transparent !important;

        a {
            transition:none 0s ease 0s;
            background-color: $red !important;
            border-bottom: none !important;
        }
    }

    .spacer.no-icon {
        font-size:0;
        background-color:transparent;

        &:after {
            content:"Immediately before, during, and after a launch, submissions are restricted. Please try again soon.";
            font-size:10px;
            color: $spacex-grey;
            display:inline-block;
            text-align:center;
            position:relative;
        }
    }
}

// SpaceX text, subscription, theme, subscriber count, moderator notice, etc
.side .titlebox {
    background-color: transparent !important;

    // The "SpaceX" text
    h1.redditname {
        background-color:transparent !important;

        a {
            display:none;
        }

        &:before {
            @if $subreddit == "spacex" {
                content:"SpaceX";
            } @else {
                content:"SpaceX Lounge";
            }
            color:$white;
            display:block;
            text-align:center;
            font-family:$brandongrotesque;
            letter-spacing:1px;
            font-weight:100;
            font-size:36px;
            margin-bottom:5px;
            background-color: transparent !important;
        }
    }

    // RES show subreddit style
    div[data-res-css] {
        text-align:center;
    }

    // Subscribe and unsubscribe buttons
    span.subscribe-button {
        text-align:center;
        width:90px;
        height:21px;
        display:block;
        margin:0 auto;
        padding:0 3px;
        position:relative;
        @extend %button;

        a {
            background-color:transparent;
            border:none;
            background-image:none;
            font-weight:100;
            font-size:12px;
            line-height:21px;
        }
    }

    // RES subscribe/unsubscribe buttons
    .subButtons {
        width:$sidebarWidth;
        text-align:center;
        height:auto;
        padding-top:5px;

        span.subscribe-button {
            display:inline-block;
        }

        span.RESshortcutside, span.RESDashboardToggle {
            width:90px;
            height:21px;
            line-height:21px;
            margin:0 0 0 6px;
            padding:0;
            border:none;
            font-weight:100;
            font-size:12px;
            border-radius:2px;
            display:inline-block;
            vertical-align:top;
            position:relative;
            text-align:center;
            cursor:pointer;
            background-image:none; // Stop RES
            @extend %button;
        }
    }

    // Subscriber count and active users
    span.subscribers, p.users-online {
        display:block;
        width:$sidebarWidth / 2;
        height:20px;
        margin:10px 0;
        position:relative;
        float:left;
        color:$white;
        text-align:center;

        .number {
            font-size:larger;
        }

        .word {
            display:none;
        }
    }

    span.subscribers .number:after {
        content:" DragonRiders";
        display:inline;
        font-size:smaller;
    }

    p.users-online .number:after {
        content:" In Orbit";
        display:inline;
        font-size:smaller;
    }

    p.users-online:before, .leavemoderator, .tagline, #sr_style_throbber, .leavecontributor-button {
        display:none;
    }

    // Reddit show subreddit style and flair toggles
    .sr_style_toggle, .flairtoggle {
        background-color:transparent !important;
        color: $spacex-grey !important;
        display:inline-block;
        text-align:center;
        font-size:0;
        width:50%;
    }

    .sr_style_toggle:after {
        content:"Show theme";
        font-size:10px;
    }

    .flairtoggle:after {
        content:"Show my flair";
        font-size:10px;
    }
}

// Sidebar description
.side .usertext-body {
    border-bottom:1px dashed $spacex-grey;

    .md {
        font-family:$lucidagrande;

        p {
            line-height:1.5;
        }

        h4 {
            background-color:$webcastblue;
            position:relative;
            right:-30px;
            line-height:$sidebarHeadingHeight;
            color:$white;
            font-family:$lucidagrande;
            font-weight:300;
            font-size:16px;
            height:$sidebarHeadingHeight;
            margin-top:30px !important;
            margin-bottom:10px !important;
            margin-right:20px;

            &:after {
                content:"";
                display:block;
                border-top:$sidebarHeadingHeight solid $webcastblue;
                border-left:30px solid transparent;
                position:absolute;
                width:0;
                height:0;
                top:0;
                right:100%;
            }
        }
    }
}

// Stop the multi-selector appearing when someone subscribes
div.multi-selector {
    display:none !important;
}

div.bottom {
    border:none !important;
    margin-top:10px;
    padding:0;
    font-size:0 !important;
    position:relative;

    &:before {
        content:"r/SpaceX. The premier spaceflight community for over 4 years.";
        display:block;
        width:100%;
        position:relative;
        top:0;
        left:0;
        font-size:10px;
        font-family:sans-serif;
        color:$white;
        text-align:center;
        margin-top:-5px;
    }

    span.flair {
        display:none;
    }
}

// Moderator tools & moderators
#moderation_tools, .sidecontentbox .title  {
    .collapse-button {
        display:none;
    }

    h1 {
        display:block;
        text-transform:capitalize;
        background-color:$webcastblue;
        position:relative;
        right:-30px;
        line-height:$sidebarHeadingHeight;
        color:$white;
        font-family:"lucidagrande Neue-Light", "lucidagrande Neue", "lucidagrande", "Verdana", sans-serif;
        font-weight:300;
        font-size:16px;
        height:$sidebarHeadingHeight;
        margin-top:30px !important;
        margin-bottom:10px !important;
        transition:background-color $fast ease;

        &:after {
            content:"";
            display:block;
            border-top:$sidebarHeadingHeight solid $webcastblue;
            border-left:30px solid transparent;
            position:absolute;
            width:0;
            height:0;
            top:0;
            left:-30px;
            transition:border-top $fast ease;
        }
    }
}

// Moderation tools & wiki pages
#moderation_tools, #wikiactions {
    h1 {
        font-size:0;
    }

    .icon-menu a {
        background-color:transparent !important;
        color:$webcastblue--light;
        transition:color ease $fast;

        &:hover {
            color: lighten($webcastblue--light, 15%);
        }
    }

    ul.content {
        border:none;
    }
}

#moderation_tools h1:before {
    content:"Moderation Tools";
    font-size:16px;
}

#wikiactions h1:before {
    content:"Wiki Tools";
    font-size:16px;
}

// Moderator Team
.sidecontentbox a.helplink {
    display:block;
    background-color:$blue;
    color:$white !important;
    float:none;
    text-align:center;
    width:60%;
    margin:0 auto;
    text-transform: capitalize;
    padding:4px 8px;
    border-radius:2px;
    font-size:12px;
    border-bottom:2px solid $blue--dark;
    position:relative;
    top:60px;

    &:active {
        background-color:$blue--dark !important;
    }

    &+div.title {
        position:relative;
        top:-50px;
        h1 {
            font-size:0;

            &:before {
                content:"Your Moderator Team";
                font-size:16px;
            }
        }

        &+ul.content {
            border:none;
            font-size:12px;
            position: relative;
            top: -20px;

            li {
                display:inline-block;
                width:50%;
                text-align:center;
                margin:10px 0;

                &.more {
                    display:block;
                    width:100%;

                    a {
                        color: $spacex-grey;
                    }
                }

                a.author {
                    color:$white;
                    text-align: center;
                    display:inline-block;
                    background-color:$green;
                    padding:3px;
                    height:15px;
                    line-height:15px;
                    border-radius:2px;
                    width:130px;
                    border-bottom:2px solid $green--dark;
                    margin:0;

                    &:active {
                        background-color:$green--dark;
                    }
                }

                span.RESUserTag, a.voteWeight, span.flair, span.userattrs {
                    display:none !important;
                }
            }
        }
    }
}
