body.submit-page, body.submit-page > .content {
    background-color:$slate--light !important;
}

div.content > h1 {
    display:none;
}

form .spacer + .spacer {
    margin:0;
}

// Tabs
ul.tabmenu.formtab {
    position:relative;
    width:640px;
    padding:0;
    left:-10px;
    border:1px dashed $grey;

    li {
        display:inline-block;
        width:50%;
        height:30px;

        &.selected {
            background-color:$gold;
        }

        a {
            width:100%;
            text-align:center;
            font-size:16px !important;
            text-transform: uppercase;
            background-color:transparent !important;
            border:none !important;
            padding:0;
            margin:0;
            line-height:30px;
            display:inline-block;
            color:$white;
            font-family: $lucidagrande;
            font-weight:300;
            letter-spacing: 1px;
        }
    }
}

// Submission body
form#newlink {
    border:none !important;
    margin-left:auto;
    margin-right:auto;
    width:620px;
    padding:10px;

    #reddit-field, .roundfield.info-notice {
        display:none;
    }

    .spacer .roundfield {
        background-color:transparent !important;
    }

    // Allow for custom message to be displayed
    > div:nth-child(3) {
        padding-top:300px;
    }
}

// link with reddit upload support
#newlink-with-image-upload {
    input {
        width:100%;
        box-sizing:border-box !important;
    }

    .clear-input-button {
        color:$grey;
        top:7px;
        line-height:15px;
    }

    #new-link-image-input {
        background-color:transparent;
        padding:5px;
        border:1px dashed $grey;
        transition:border ease $fast;

        &:hover {
            border-color:$gold;
        }
    }

    .file-upload-button {
    text-transform:lowercase;
        font-weight:normal;
    }

    .file-drop-label-icon, .file-upload-icon {
        display:none !important;
    }

    .file-drop-label {
        font-size:12px;
    }
}

// Position box which contains message to submitters
div.formtabs-content {
    border:none;

    > div:first-child {
        display:none;
    }

    // Make the submission text appear above the inputs
    > div:nth-child(4) {
        position:absolute;
        top:150px;
        height:0;
    }
}
.res div.formtabs-content {
    border:none;
}

.roundfield span {
    color:$white;

    &.gray {
        display:none;
    }
}

.roundfield {
    width:600px;

    textarea, input[type="text"], input[type="url"], input[type="password"], input[type="number"] {
        border:2px solid $charcoal;
        transition:border ease $fast;
        box-sizing:content-box !important;
        width:592px;
        box-shadow:none !important;

        &:focus {
            border:2px solid $gold;
        }
    }

    .roundfield-content label {
        color:$grey;
    }
}

// Submit text message
.submit_text.roundfield.enabled {
    height:300px;
    max-height:300px;
    margin:0;
    padding:0 10px;
    overflow-y:scroll;

    p {
        font-size:12px;
        color:$white;

        em:first-child {
            font-size:50px;
            font-style:normal;
            line-height:1.2;
            vertical-align:baseline;
        }

        &:nth-child(4) {
            background:url("flowchart.png") no-repeat;
            background-size:600px auto;
            padding-top:800px;

            a[title="sourcesrequired"] {
                background-color: $gold;
                color:$white;
                vertical-align: middle;
                height: 18px;
                line-height: 19px;
                font-family: $lucidagrande;
                font-weight: bold;
                font-size:10px;
                border-radius: 2px;
                padding:0 8px;
                border-bottom: 3px solid $gold--dark;
                position: relative;
                display: inline-block;
            }
        }

        &:last-child {
            padding-top:20px;
            padding-bottom:50px // allow for fade
        }
    }

    h1:before {
        content:"You are ";
        display:inline;
    }

    h1, .sr {
        color:$grey;
        font-family:$lucidagrande;
        font-weight:100;
        text-align:center;
        margin:5px 0;
    }

    &:after {
        content:"";
        width:100%;
        height:50px;
        display:block;
        position:absolute;
        overflow:hidden;
        bottom:-300px;
        background: -moz-linear-gradient(top, rgba($slate--light, 0) 0%, $slate--light 100%);
        background: -webkit-linear-gradient(top, rgba($slate--light, 0) 0%, $slate--light 100%);
        background: linear-gradient(to bottom, rgba($slate--light, 0) 0%, $slate--light 100%);
    }
}

#suggest-title button {
    @extend %button;
}

// Submission button
div.spacer > button.btn {
    width:100%;
    padding:10px 0 !important;
    font-size:16px;
    font-family:$lucidagrande;
    position:relative;
    border:none;
    @extend %button;
}