// Downvote warning
.commentarea {
    // Arrows
    .arrow.down, .arrow.downmod {
        &:before {
            visibility:hidden;
            opacity:0;
            transition:visibility 0s ease 0s, opacity $fast ease 0s;
        }

        &:before, &:hover:before {
            position: absolute;
            display: block;
            z-index:100;
            padding:5px;
            content: "Don't downvote because you disagree!";
            text-align: center;
            font-size: 11px;
            font-weight: normal;
            font-family: $lucidagrande;
            width: 250px;
            color: $green;
            background-color: rgba($purewhite, 0.9);
            margin-left: 30px;
        }

        &:hover:before {
            visibility:visible;
            opacity:1;
        }
    }

    // Menu area (sort by top, enable contest mode, sticky this post
    .menuarea, .menuarea .toggle a {
        color:$grey;
    }

    .usertext-edit {

        .markdownEditor-wrapper {
            max-height:100px !important;
        }

        // Low effort comment warning
        >div:nth-of-type(1):after {
            content: "Comments that do not contribute to the discussion, are low-effort, consist solely of a meme, or otherwise violate our guidelines will be removed. These comments should be reported.";
            padding: 5px;
            display: block;
            font-family: $lucidagrande;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            box-sizing:border-box;
            color: $green; /* Moderator Green */
        }
    }

    // Borders to the left of comments
    &> div.sitetable > div.thing {
        padding:5px;
        margin-bottom:5px;
        border-left:2px solid $grey;

        &:hover {
            border-left:2px solid $gold;
        }
    }

    div.thing > .child {
        border-left:1px solid $grey;

        &:hover {
            border-left:1px solid $gold;
        }
    }
}

@media (max-width: $break-small) {
    div.commentarea .usertext-edit {
        > div:nth-of-type(1):after,  textarea, .markdownEditor-wrapper, .bottom-area {
            width:500px;
        }
    }
}

@media (min-width:$break-small) and (max-width: $break-large) {
    div.commentarea .usertext-edit {
        > div:nth-of-type(1):after,  textarea, .markdownEditor-wrapper, .bottom-area {
            width:650px;
        }
    }
}

@media (min-width: $break-large) {
    div.commentarea .usertext-edit {
        > div:nth-of-type(1):after,  textarea, .markdownEditor-wrapper, .bottom-area {
            width:800px;
        }
    }
}

.usertext-body {
    padding:5px 0;
}

// Nightmode comment styling
body.res-nightmode .commentarea {
    background-color:transparent !important;

    .arrow.down:hover:before, .arrow.downmod:hover:before {
        background-color:rgba($grey,0.9) !important;
    }
}

// Arrows
body, body.res-nightmode {
    >.content .midcol, .midcol {
        min-width:25px !important;
    }
}

// Reddit infobar/welcome graphic, displayed infrequently, but it should look good regardless
.infobar.welcome {
    margin-right:10px;
}

// The little dashed line thing
.panestack-title {
    margin:10px;
    border-bottom:1px dashed $grey;
}

#REScommentNavToggle {
    display:none;
}

// RES expando button
.expando-button, .res.res-nightmode .expando-button {
    margin:0 5px 0 0 !important;
    width:30px !important;
    height:30px !important;
    max-width:30px !important;
    max-height:30px !important;
    background-color:transparent;
    cursor:pointer;

    &.collapsed, &.expanded {
        background-image:url('sprites.png') !important;
        background-size:30px 330px;
    }

    &.collapsed {
        background-position:0 -210px !important;
        transition:transform ease $fast;

        &:hover {
            background-position:0 -240px !important;
        }
    }

    &.expanded {
        background-position:0 -210px !important;
        transform:rotate(45deg) scale(0.9999);
        transition:transform ease $fast;

        &:hover {
            background-position:0 -240px !important;
            transform:rotate(45deg) scale(0.9999);
        }
    }
}

// Selfpost usertexts
.link .usertext .md {
    background-color:$white;
    border: 1px solid $gold !important;
    border-radius:0px;
}

// No comments!
#noresults {
    margin:0;
    padding:10px 0 20px;
    font-size:0;
    text-align:center;

    &:before {
        font-size:16px;
        color:$grey;
        display:inline;
        content:"No comments. Start contributing!";
        position:relative;
        font-family:$helvetica;
        font-weight:300;
        text-align:center;
    }
}

textarea {
    border:1px solid $grey;
    transition:border 0.2s ease 0s;

    &:focus {
        border:1px solid $gold;
    }
}

// Make comment reply button highlighted

.flat-list.buttons {
    color:$grey;

    .reply-button {
        color:lighten($lightslate, 15%);
    }
}
