html {
    height:100%;
    background:url('banner.jpg');
    background-color:$slate;
    background-size:2560px 200px;
    background-attachment: fixed;
}

body:not(.embed) {
    margin:0 $margin;
    top: $header-height;
    position: absolute;
    width: calc(100% - (#{$margin} * 2));
    box-shadow:0 0 10px 2px $charcoal;
    background-color:$white;
}

:focus {
    outline:none !important;
}