// Local variables
$subredditNavigatorHeight: 20px;
$bannerHeight: 130px;
$headerHeight: $subredditNavigatorHeight + $bannerHeight;

// Header
#header {
    background:transparent !important;
    border-bottom:none;
    font-family:$generic;
    height:$headerHeight;
    position:absolute;
    margin-left:-$margin;
    width:calc(100% - -#{$margin} * 2); // Reddit's CSS compressor can't handle calc with addition. See: https://github.com/reddit/reddit/issues/1042
    top: -150px;
}

// Subreddit Navigator
div#sr-header-area, .res-nightmode div#sr-header-area {
    background-color: rgba($blue, 0.5);
    border:none;
    text-transform:lowercase;
    line-height:$subredditNavigatorHeight;
    height:$subredditNavigatorHeight;
    top: 0;

    .drop-choices.srdrop {
        border:none;
        margin-left:0px;
        background-color:rgba($blue, 0.8);

        .choice {
            color:$purewhite;
        }
    }
}

div.dropdown.srdrop > span.selected,
ul.sr-bar li > span.separator, ul.sr-bar li > a,
div#RESShortcuts > span.separator, div#RESShortcuts > a,
div#srDropdownContainer a, div#RESStaticShortcuts > span.separator, div#RESStaticShortcuts > a {
    color:$grey;
    transition:color ease $fast;

    &:hover {
        color:$gold;
    }
}

#RESShortcutsEditContainer, a#sr-more-link {
    display:none;
}

// Banner
#header-img-a {
    margin:0;
    background-image: url('dragon.png');
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px; // For what reason is this here?
    background-size:130px 100px;
    background-position:10px 15px;
    vertical-align: bottom;
    width:130px;
    height:$bannerHeight;

    &:hover {
        animation:dragonFloat 3s ease-in-out infinite alternate;
    }

    #header-img img {
        display:none;
    }
}

@keyframes dragonFloat {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(-30deg);
    }
}


div#header-bottom-left, body.res-nightmode div#header-bottom-left {
    height:$bannerHeight;
    overflow:hidden;

    // SpaceX Logo
    .redditname a {
        display:inline-block;
        margin:0 10px;
        vertical-align:top;
        background-image:url('spacex.png');
        background-size:210px $bannerHeight;
        width:210px;
        height:$bannerHeight;
        font-size:0;
        background-repeat:no-repeat;
        position:relative;
        top:-3px;
        overflow:hidden;
    }

    // Tabmenu
    ul.tabmenu {
        height:$bannerHeight;
        display:inline-block;
        margin:0;
        vertical-align:top;
        overflow:hidden;
        position:absolute;

        li {
            background-color:transparent;
            display:inline-block;
            width:auto;
            line-height:$bannerHeight;
            margin:0 10px;

            a {
                color:$white;
                font-family:$brandongrotesque;
                font-size:15px;
                font-weight:lighter;
                letter-spacing:0.5px;
                text-transform:uppercase;
                padding:0;

                &:hover {
                    border-bottom:2px solid $gold !important;
                }
            }

            &.selected a, a {
                background-color:transparent;
                border:none;
                border-bottom:2px solid transparent;
                transition:border $fast ease 0s;
                line-height:0;
            }

            &.selected a {
                color:$gold;
            }
        }
    }
}

.pagename {
    font-size:0;
}

// User controls & Account settings
body, body.res-nightmode {
    div#header-bottom-right {
        border:none;
        background-color:rgba($blue, 0.5);
        top:20px;
        height:30px;
        line-height:30px;
        padding:0 10px;
        border-radius:0;
        font-family:$lucidagrande;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 0px;
            height: 0;
            border-top: 30px solid rgba($blue, 0.5);
            border-left: 30px solid transparent;
            right: 100%;
        }

        a {
            color:$white;
            border-bottom:2px solid transparent;
            transition:color $fast ease, border-bottom $fast ease;

            &:hover {
                color:$gold;
                border-bottom:2px solid $gold;
                text-decoration:none !important;
            }
        }

        .user {
            color: $grey;
        }

        #userbarToggle, span.separator, #RESAccountSwitcherIcon {
            display:none !important;
        }

        .user .userkarma, #mail.nohavemail:hover, #modmail.nohavemail:hover  {
            border-bottom:none;
            font-weight:normal;
        }

        // Mail iconography
        .mail {
            width:30px !important;
            height:30px !important;
            top:0 !important;
            margin:0 0 0 10px;
            background-image:url('sprites.png') !important;
            background-size:30px 330px;
            cursor:pointer;
            vertical-align: top;
            border:none !important;
            transform:scale(1);
            transition:transform ease 0.2s;
        }

        .message-count {
            background-color: $gold;
            border-radius:50%;
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            font-size: 11px;
            display: inline-block;
            border: none !important;
            position: relative;
            top: -3px;
            left: -15px;
            vertical-align: top;
            line-height: 20px;
            text-align: center;
            box-shadow: -5px 5px 5px 0 rgba($slate, 0.5);

            &:hover {
                color:$white;
            }
        }

        #mail, #modmail {
            &.nohavemail, &.havemail {
                @extend .mail;
                &:hover {
                    @extend .mail;
                    transform:scale(1.2);
                }
            }
        }

        #mail {
            &.nohavemail {
                background-position:0 0;
            }

            &.havemail {
                background-position:0 -30px;
            }
        }

        #modmail {
            &.nohavemail {
                background-position:0 -60px;
            }

            &.havemail {
                background-position:0 -90px;
            }
        }

        .flat-list a, #openRESPrefs #RESSettingsButton, .logout a {
            vertical-align: top;
            display:inline-block;
            font-size:0;
            @extend .mail;

            &:hover {
                @extend .mail;
                transform:scale(1.2);
            }
        }

        .flat-list a {
            background-position:0 -120px;
        }

        #openRESPrefs #RESSettingsButton {
            background-position:0 -150px;
            background-image:url('sprites.png') !important;

            &:after {
                display:none;
            }
        }

        .logout a {
            background-position:0 -180px;
        }

        // Make RES gear less annoying
        /* RES Gear Settings */
        #RESMainGearOverlay {
            border:none !important;
            background-color:transparent !important;

            .gearIcon {
                opacity:0 !important;
            }
        }
    }
}
