/* CHANGE THE MISSION PATCH HERE. YOU SHOULD ONLY NEED TO ADJUST THESE PARAMETERS */
.side, body.res-nightmode .side {
    background-image: url('jcsat14.png'); /* Place a relevant mission patch here */
    padding: 315px 10px 10px 10px; /* Set padding to match image height + a bit for spacing */
    background-position:0 5px;
    background-size:300px 316px;
}

/* USE THE COMMENTED OUT STYLES BELOW TO PROVIDE A THUMBNAIL FOR A SUBMISSION */
/* #thing_t3_{{id}} a.thumbnail {
    height: 70px;
	background: 0 0 url(%%image%%) no-repeat;
	background-size:70px 60px;
}*/

/* USE THE COMMENTED OUT STYLES BELOW TO PROVIDE A NEW TITLE FOR A SUBMISSION */
/* div#thing_{{id}} a.title {
    font-size:0;
}

div#thing_{{id}} a.title:after {
    content:"{{title}}";
    vertical-align:middle;
    font-size:16px;
} */